
<form id="form" action="/signup" method="POST" enctype="multipart/form-data">
    
    <label for="username">Username</label>
    <input type="text" name="username">

    <label for="password">Password</label>
    <input type="password" name="password">

    <label for="email">email</label>
    <input type="email" name ='email'>

    <label for="name">name</label>
    <input type="text" name="name">

    <h2>Upload your photo</h2>
    <input type="text" name="picName">
    <input type="file" name="file">
    

    <% if (typeof(signupErrorMessage) != "undefined") { %>
        <div class="error-message"><%= signupErrorMessage %></div>
      <% } %>

    <button>SUBMIT</button>
</form>
