
<div class="container">

  <div class="sign-text">
    <h2>Sign Up</h2>
  </div>

  <div class="signup-ctn">
    <form id="form" action="/auth/signup" method="POST" enctype="multipart/form-data">
      
      <div class="sign-input">
        <label for="username">Username</label>
        <input type="text" name="username">
      </div>
      
      <div class="sign-input">
        <label for="password">Password</label>
        <input type="password" name="password">
      </div>
  
      <div class="sign-input">
        <label for="email">Email</label>
        <input type="email" name ='email'>
      </div>
      
      <div class="sign-input">
        <label for="name">Name</label>
        <input type="text" name="name">
      </div>

      <div class="sign-photo">
        <label for="file">Profile Picture</label>
            <input type="file" name="file">
      </div>
  
      <% if (typeof(signupErrorMessage) != "undefined") { %>
          <div class="error-message"><%= signupErrorMessage %></div>
      <% } %>
    
      
        <input id="sign-btn" type="submit" value="Sign Up">

    </form>
  </div>
</div> 
