<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Spot Finder</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>
  <body>
    <nav class="nav-container">

      <div class="nav-logo">
        <h2>Spot Finder</h2>
      </div>

      <% if (user) { %>
        <div class="nav-bar">
          <div class="user-photo"><!-- here goes the profile picture --></div>
          <div class="user-name">
            <h2><%= user.username %></h2>
          </div>
          <div>
            <a href="/places/create">create a place</a>
          </div>
          <div class="logout-btn">
            <form action="/auth/logout" method="post">
              <button>sign out</button>
            </form>
          </div>
        </div>
      <% } %>

      <% if(!user) { %>
        <div class="login-container">

            <div class="login-form">
              <form action="/auth/login" method="POST">
                    <label for="username">Username</label>
                    <input type="text" name="username">

                    <label for="password">Password</label>
                    <input type="password" name="password">

                  <% if (typeof message != "undefined") { %>
                    <div class="error-message"><%= message %></div>
                  <% } %>
                  
                    <input id="login-btn" type="submit" value="Log In">

                  <div class="signup-login">
                    <p>Don't have an account? <a href="/auth/signup">Signup</a></p>
                  </div>
              </form>
            </div>
          
          </div>
      <% } %>
    </nav>
    <%- body -%>
  </body>
</html>