
<% if(!user) { %>
    <div class="container">
        <div class="main-welcome">
            
            <div class="text-welcome">
                <h1> Welcome </h1>
                <p>In tegenstelling tot wat algemeen aangenomen wordt is Lorem Ipsum niet zomaar willekeurige tekst. 
                het heeft zijn wortels in een stuk klassieke latijnse literatuur uit 45 v.Chr.</p>
            </div>

            <div class="login-container">
    
                <div class="login-form">
                    <form action="/auth/login" method="POST">

                    <div class="user-login">
                        <label for="username">Username</label>
                        <input type="text" name="username">
                    </div>

                    <div class="pass-login">
                        <label for="password">Password</label>
                        <input type="password" name="password">
                    </div>
                    <% if (typeof errorMessage != "undefined") { %>
                    <div class="error-message"><%= errorMessage %></div>
                    <% } %>
                    
                    <input id="login-btn" type="submit" value="Log In">

                    <div class="signup-login">
                    <p>Don't have an account? <a href="/auth/signup">Signup</a></p>
                    </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="slideshow">
        <div class="slides">
            <h2>FIND</h2>
            <img class="index-slides" src="/images/surf.jpg">
        </div>
        <div class="slides">
            <h2>DISCOVER</h2>
            <img class="index-slides" src="/images/skate.jpg">
        </div>
        <div class="slides">
            <h2>RIDE</h2>
            <img class="index-slides" src="/images/snowboard.jpg">
        </div>
    </div>
  <% } %>