/* CREATE PAGE */
.create-form-page input,
.create-form-page option,
.create-form-page select,
.create-form-page label,
.create-form-page button {
    font-family: 'Cabin', sans-serif;
    text-align: center;
}
.create-form-page input {
    border: 1px solid gray;
    height: 30px;
    width: 250px;
    border-radius: 5px;
    text-align: center;
}
.create-form-page select,
.create-form-page option {
    border: 1px solid gray;
    border-radius: 5px;
    height: 30px;
}
.create-form-page select option {
    text-align: center;
}
.create-form-page form,
.create-form-page form .file-upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.create-form-page form .file-upload > input {
    margin: 5px;
}
.create-form-page form > div {
    padding: 10px;
}
.create-form-page h2,
.create-form-page h3 {
    font-family: 'Cabin', sans-serif;

}
.create-form-page form button,
.create-form-page form #file-upload {
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;

}


/* #picName {
    color: gray;
} */


/* images for show page and more page */
.img-skate {
    height: 20px;
    width: 20px;
    background-image: url('/images/skateboard-img.png');
    background-repeat: no-repeat;
    overflow:hidden;
    background-size: cover;
    margin-top: -10px;
}

.img-surf {
    height: 20px;
    width: 20px;
    background-image: url('/images/surf-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
margin-top: -10px;
}
.img-snowboard {
    height: 20px;
    width: 20px;
    overflow:hidden;
    background-image: url('/images/snowboarding.png');
    background-repeat: no-repeat;
    background-size: cover;
margin-top: -10px;
}
/*
.detail-image {
    width: 100%;
}

.photo-upload-header {
    font-family: Courier New, Courier, monospace;

}

.more-places button {
    font-family: Courier New, Courier, monospace;
    border: 1px solid gray;
    border-radius: 2px;
}

.more-places input {
    font-family: Courier New, Courier, monospace;
    border: 1px solid gray;
    border-radius: 2px;
}


.detail-address {
    font-size: 20px;
    font-family: Courier New, Courier, monospace;

}

.detail-name {
    padding: 4px;
    font-size: 40px;
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    margin: 0;
}


.detail-info {
    display: flex;
    justify-content: space-between;
}
.detail-info-container {
    margin: .5em;

} */
.slider-ctn{
    margin-top: -40px;
}
.slider-single{
	width: 375px;
    height: 250px;
    margin: 0;
    overflow: hidden;
    z-index: -1;
}
.item img{
	width: 100%;
	min-height: 100%;
}
.slider-nav{
	width: 100%;
    height: 85px;
}
.slick-slider{
    width: 90%;
}
.slick-initialized{
    margin: auto;
}
.slider-nav .slick-track{
	height: 85px;
}
/* 
div{
    border: 1px solid red;
} */

@media only screen and (min-width : 640px) {
    .img-surf,
    .img-skate,
    .img-snowboard {
        width: 40px;
        height: 40px;
      }

}