/* .img-skate {
    height: 3em;
    width: 3em;
    background-image: url('/images/skateboard-img.png');
    background-repeat: no-repeat;

}

.img-surf {
    height: 1em;
    width: 1em;
    background-image: url('/images/surf-img.png');
    background-repeat: no-repeat;
}

.detail-image {
    width: 100%;
}

.photo-upload-header {
    font-family: Courier New, Courier, monospace;

}

.more-places button {
    font-family: Courier New, Courier, monospace;
    border: 1px solid gray;
    border-radius: 2px;
}

.more-places input {
    font-family: Courier New, Courier, monospace;
    border: 1px solid gray;
    border-radius: 2px;
}


.detail-address {
    font-size: 20px;
    font-family: Courier New, Courier, monospace;

}

.detail-name {
    padding: 4px;
    font-size: 40px;
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    margin: 0;
}


.detail-info {
    display: flex;
    justify-content: space-between;
}
.detail-info-container {
    margin: .5em;

} */
.slider-ctn{
    margin-top: -40px;
}
.slider-single{
	width: 375px;
    height: 250px;
    margin: 0;
    overflow: hidden;
    z-index: -1;
}
.item img{
	width: 100%;
	min-height: 100%;
}
.slider-nav{
	width: 100%;
    height: 85px;
}
.slick-slider{
    width: 90%;
}
.slick-initialized{
    margin: auto;
}
.slider-nav .slick-track{
	height: 85px;
}

div{
    border: 1px solid red;
}

