div, nav{
  border: 1px solid red;
}

/* ---- Reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

/* ---- Typography ---- */


/* ---- Layout ---- */
.container{
  margin: 0 120px;
}
.nav-container{
  
}

/* -------     Components    ------- */


/* -- Nav Bar -- */


/* -- Login Form -- */


/* -- Filter Bar -- */


/* --  Places   -- */


/* -- Media Query -- */