div, nav{
  border: 1px solid red;
}

/* ---- Reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 280px 0;
}

/* ---- Typography ---- */
.nav-logo h2{
  font-size: 60px;
}
.nav-logo a{
  text-decoration: none;
  color: #2C303F;
  font-family: Courier New, Courier, monospace;
}
.text-welcome h1{
  font-size: 80px;
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
}
.text-welcome p{
  font-size: 40px;
  font-family: Courier New, Courier, monospace;
}
/* ---- Layout ---- */
.container{
  margin: 0 20px;
}
.nav-container{
  display: flex;
  justify-content: center; 
  width: 100%;
}

/* -------     Components    ------- */


/* -- Nav Bar -- */
.nav-border{
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  border-bottom: 1px solid rgb(231, 226, 226);
}
.nav-logo{
  margin: 0 20px;
  height: 100%;
}

/* -- Login Form -- */
.login-container{
  display: flex;
  justify-content: center;
  text-align: center;
}
.user-login{
  font-size: 40px;
  font-family: Courier New, Courier, monospace;
  text-align: center;
  margin-bottom: 100px;
}
.user-login input{
  font-size: 60px;
  width: 100%;
}
.pass-login{
  font-size: 40px;
  font-family: Courier New, Courier, monospace;
  text-align: center;
  margin-bottom: 100px;
}
.pass-login input{
  font-size: 60px;
  width: 100%;
}
#login-btn{
  width: 100%;
  padding: 15px;
  font-size: 40px;
  color: #566993;
  margin-bottom: 100px;
  border: 1px solid #566993;
  border-radius: 5px;
}
.signup-login{
  font-size: 40px;
  font-family: Courier New, Courier, monospace;
}
.signup-login a{
  text-decoration: none;
  color: blue;
}
.error-message{
  font-size: 40px;
  margin-bottom: 100px;
}


/* -- Welcome Page -- */
.img-welcome img{
  width: 100%;
}



/* -- Filter Bar -- */


/* --  Places   -- */


/* -- Media Query -- */
@media only screen and (max-width : 640px){
}