/* div, nav{
  border: 1px solid red;
} */
body {
  margin: 0;
}

a {
  color: #00B7FF;
}

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ---- typography ---- */

.welcome-text{
  text-align: center;
}
.nav-logo h2{
  width: 100%;
  height: 100%;
  color: white;
  font-size: 34px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.place-info h3{
  margin-right: 10px;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.place-info p{
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* ---- layout ---- */
.container{
  margin: 0 120px;
}

.nav-container{
  display: flex;
  height: 120px;
  justify-content: space-between;
  padding: 0px 50px 0px 50px;
  background-color: #9FB1BC;
}

/* -------     components    ------- */

/* -- nav bar -- */
.nav-bar{
  display: flex;
  padding: 20px;
}
.user-photo{
  border: 3px solid red;
  background-color: grey;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  margin-top: 5px;
  margin-right: 5px;
}
.user-name{
  margin-right: 20px;
}
.logout-btn{
  height: 30%;
  margin-top: 25px;
}
.nav-logo{
  padding: 10px;
}
.nav-logo a{
  text-decoration: none;
}

/* -- Login Form -- */
.login-container{
  display: flex;
  justify-content: center;
}

.login-form input{
  display: inline;
  margin-top: 40px;
  margin-right: 10px;
}
.login-form label{
  margin-right: 10px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.signup-login{
  text-align: left;
  color: white;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#login-btn{
  font-size: 16px;
  color: white;
  background-color: blue;
  border-style: none;
}

/* -- Filter Bar -- */
.filter-bar{
  margin-bottom: 20px;
  background-color: #6E8898;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.filter-bar ul{
  text-align: center;
  margin: 0;
}
.filter-bar li{
  display: inline-block;
}
.filter-bar button{
  text-align: center;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  border: none;
  background-color: transparent;
  width: 200px;
  height: 50px;
}
.filter-bar button:hover{
  cursor: pointer;
}
.filters {
  padding: 10px;
  text-align: center;
}

/* -------  Places   -------- */
.place{
  text-align: center;
  display: none;
}
.info{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.place-ctn{
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid red;
}
.place-img{
  width: 240px;
  height: 240px;
}
.place-img img{
  width: 100%;
  height: 100%;
}
.place-info{
  width: 500px;
  height: 100%;
}
.show{
  display: block;
}
