<form id="addPhoto" action="/places/<%= place.id %>" method="POST" enctype="multipart/form-data">

    <h2>Upload your photo</h2>
    <input type="text" name="picName">
    <input type="file" name="file">

    <button>SUBMIT</button>

</form>