<div class="create-form-page">
<form id="form" action="/places" method="POST" enctype="multipart/form-data">
    <h2>Create a new spot</h2>
    <div>
        <!-- <label for="name">Name:</label> -->
        <input type="text" name="name" placeholder="Name of your spot">
    </div>
    <div>
        <!-- <label for="type">Type:</label> -->
        <select id="type" name="type">
            <option value="" disabled selected>Select the spot type</option>
            <option value="skate">Skate</option>
            <option value="snowboard">Snowboard</option>
            <option value="surf">Surf</option>
        </select>
    </div>
    <div>
        <!-- <label for="address">Address:</label> -->
        <input type="text" name ='address' placeholder="Address of your spot">
    </div>
    <div class="file-upload">
        <h3>Upload a photo</h3>
        <input id="picName" type="text" name="picName" placeholder="Picture Name">
        <input id="file-upload" type="file" name="file">
    </div>

    
    <% if (typeof(errorMessage) != "undefined") { %>
        <div class="error-message"><%= errorMessage %></div>
      <% } %>

    <button>SUBMIT</button>
</form>
</div>
