
<form id="form" action="/places/show" method="POST">
    
    <label for="name">name</label>
    <input type="text" name="name">

    <div>
            <input type="radio" id="skate"
                   name="type" value="skate">
            <label for="skate">skate</label>
            <input type="radio" id="snowboard"
                   name="type" value="snowboard">
            <label for="snowboard">snowboard</label>
            <input type="radio" id="surf"
                   name="type" value="surf">
            <label for="surf">surf</label>
    </div>

    <label for="address">address</label>
    <input type="text" name ='address'>

    <% if (typeof(errorMessage) != "undefined") { %>
        <div class="error-message"><%= errorMessage %></div>
      <% } %>

    <button>SUBMIT</button>
</form>
