<p class="filters">filter by: <a href="">skate</a>   <a href="">snow</a>   <a href="">surf</a></p>


<h1>hola</h1>


        <% places.forEach((place) => { %>
          <div class="place">
            <%= place.name %> - <%= place.type %>
          </div>
        <%  }) %>
      