<div>
    <p class="filters">filter by: 

        <input type="radio" id="skate"
               name="type" value="skate">
        <label for="skate">skate</label>
        <input type="radio" id="snowboard"
               name="type" value="snowboard">
        <label for="snowboard">snowboard</label>
        <input type="radio" id="surf"
               name="type" value="surf">
        <label for="surf">surf</label>
    </p>
</div>

<h1>hola</h1>


        <% places.forEach((place) => { %>
          <div class="place">
            <%= place.name %> - <%= place.type %>
          </div>
        <%  }) %>
      